/*****************************************************************************/
/* GuideItem: Style */
/*****************************************************************************/
.guide-item {
}

.guide-item .card {
    width: 30%;
}

.guide-item h1 {
    font-family: "Lobster", "Helvetica", Arial, sans-serif;
    font-size: 96px;
    color: #fff;
}

.guide-item .shared-with {
    font-size: 11px;
}

.guide-item .general-info > h4 {
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.guide-item .general-info > p {
    font-size: 12px;
    margin: 5px;
}

.guide-item .main-img {
    width: 110%;
    height: 100%;
    overflow: hidden;
    margin: -10px -10px 5px -10px;
}

.guide-item h4 {
    font-weight: 700;
    margin-left: 5px;
}

.guide-item h6 {
    margin-left: 5px;
}

.guide-item .quote {
    font-family: "Raleway", "Helvetica", Arial, sans-serif;
    font-size: 18px;
    padding: 20px 30px 35px 30px;
    position: relative;
    top: 15px;
}

.guide-item .quote-area {
    width: 110%;
    height: 120%;
    min-height: 100px;
    margin-left: -5%;
    margin-top: -5%;
    margin-bottom: 10px;
}

.area-green {
    background-color: #C7F464;
}
.area-blue {
    background-color: #69D2E7;
    color: white;
}

.guide-item .quote:before {
    content: '\201C';
    font-size: 36px;
    display: block;
    top: -5px;
    left: 15px;
    position: absolute;
    margin-bottom: 5px;
}

.guide-item .quote:after {
    content: '\201D';
    font-size: 36px;
    display: block;
    bottom: -20px;
    right: 15px;
    position: absolute;
    margin-bottom: 10px;
}